body {
    font-family: 'Lexend', sans-serif
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 5px 0;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
}

th {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #cbcbcb;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

p {
    margin: 10px 0;
}

hr {
    margin-bottom: 50px;
    background-color: #4CAF50;
    height: 2px;
}

h1 {
    margin-top: 0;
}

.title {
    text-align: center;
}